<strong>Olá, {{ provider }}</strong>

<p>Houve uma nova inscrição no meetup, confira os detalhes abaixo:</p>

<p>
  <strong>Participante: </strong> {{ user }} <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
</p>
